<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= it.name %></title>
  <style type="text/css">
    body {
      font-size: 72px;
    }
  </style>
</head>
<body>

  <p>
    This is text in the overlay.
  </p>

  <script>
    // -------------------------------------------------------------------------
    // Network Lifecycle Events
    // -------------------------------------------------------------------------
    omphalos.event.ioConnect(() => {
      omphalos.log.debug('Socket connected to server');
    });

    omphalos.event.ioDisconnect(() => {
      omphalos.log.debug('Socket disconnected from server');
    });
  </script>
</body>
</html>