/* ========================================================================== *
 * Omphalos Base Graphic Styles (Zero Specificity)                            *
 * ========================================================================== */

/* The baseline for the actual stream and normal browser tabs */
:where(body) {
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: #23282f;
  color: #ffffff;
}

/* Preview Mode */

:where(html.omph-preview) {
  background-color: #0d1117;
}

:where(html.omph-preview body) {
  width: 100vw;
  height: 100vh;
  max-width: var(--omph-graphic-w, 1920px);
  max-height: var(--omph-graphic-h, 1080px);
  position: relative;

  /* Dark magics. */
  display: flow-root;

  background-color: #1a1e24;
  background-image:
    linear-gradient(45deg, #23282f 25%, transparent 25%),
    linear-gradient(-45deg, #23282f 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #23282f 75%),
    linear-gradient(-45deg, transparent 75%, #23282f 75%);
  background-size: 20px 20px;
  background-position:
    0 0,
    0 10px,
    10px -10px,
    -10px 0px;

  box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.8);
}