@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light --default, business --prefersdark;
  logs: true;
}

/* Make the tooltips in Daisy actually work. */
.tooltip::before {
  z-index: 1;
}
